Repository codemohandis/scientific-calculator-: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, frontend-tests

eslint:
  name: eslint
  entry: npm run lint
  language: system
  pass_filenames: false
  stages:
  - commit

prettier:
  name: prettier
  entry: npm run format
  language: system
  pass_filenames: false
  stages:
  - commit

frontend-tests:
  name: frontend-tests
  entry: npm test
  language: system
  pass_filenames: false
  stages:
  - commit

Complete Phase 2: Foundational infrastructure and core services
  frontend/src/services/calculatorApi.js
  frontend/src/styles/main.css
  frontend/src/utils/accessibility.js
  frontend/src/utils/errorHandler.js
  frontend/src/utils/validation.js
  history/prompts/001-scientific-units/0005-implement-phase1-setup.red.prompt.md
  specs/001-scientific-units/tasks.md
  src/scientific_calculator/__init__.py
  src/scientific_calculator/api.py
  src/scientific_calculator/exceptions.py
  src/scientific_calculator/expression_evaluator.py
  src/scientific_calculator/functions.py
  src/scientific_calculator/units.py
Due: eslint, prettier, frontend-tests

Complete Phase 4: Implement scientific functions with 278 passing tests
  .claude/settings.local.json
  frontend/jest.a11y.config.cjs
  frontend/package.json
  frontend/src/components/ConversionForm.js
  frontend/src/components/ConversionResult.js
  frontend/src/components/ErrorDisplay.js
  frontend/src/components/UnitSelector.js
  frontend/tests/accessibility/calculator.test.js
  frontend/tests/accessibility/setup.js
  frontend/tests/accessibility/test_conversion_display.js
  history/prompts/001-scientific-units/0006-implement-phase2-foundational.green.prompt.md
  specs/001-scientific-units/tasks.md
  src/scientific_calculator/functions.py
  src/scientific_calculator/units.py
  tests/integration/test_scientific_integration.py
  tests/integration/test_unit_conversion_workflow.py
  tests/unit/test_additional_coverage.py
  tests/unit/test_conversion_errors.py
  tests/unit/test_conversions.py
  tests/unit/test_exponential.py
  tests/unit/test_logarithmic.py
  tests/unit/test_mass_conversions.py
  tests/unit/test_scientific_errors.py
  tests/unit/test_statistical.py
  tests/unit/test_temperature_conversions.py
  tests/unit/test_trigonometric.py
  tests/unit/test_volume_conversions.py
Due: eslint, prettier, frontend-tests

Implement Phase 4 frontend components for scientific functions
  frontend/src/components/FunctionHelp.js
  frontend/src/components/FunctionInput.js
  frontend/src/components/FunctionResult.js
  frontend/src/components/StatisticalInput.js
  frontend/src/services/calculatorApi.js
Due: eslint, prettier, frontend-tests

Add Phase 4 frontend accessibility tests for function controls
  frontend/tests/accessibility/test_function_controls.js
Due: prettier

Complete Phase 5: Implement User Story 3 - Compound Expressions
  frontend/src/components/ExpressionInput.js
  frontend/src/components/ExpressionResult.js
  frontend/tests/accessibility/test_expression_input.js
  specs/001-scientific-units/tasks.md
  tests/integration/test_complex_expressions.py
  tests/unit/test_expression_errors.py
  tests/unit/test_expression_grouping.py
  tests/unit/test_expression_precedence.py
  tests/unit/test_function_composition.py
  tests/unit/test_mixed_expressions.py
Due: eslint, prettier, frontend-tests

Complete Phase 6: Polish & Final Release (v1.0.0)
  CHANGELOG.md
Due: none

Add Prompt History Records for Phase 5 and Phase 6
  history/prompts/001-scientific-units/0007-implement-phase5-expressions.green.prompt.md
  history/prompts/001-scientific-units/0008-implement-phase6-release.green.prompt.md
Due: none

Implement Phase 1-4: Calculator UI Redesign - Responsive Multi-Column Layout
  .claude/settings.local.json
  IMPLEMENTATION_PROGRESS.md
  demo.py
  frontend/index.html
  frontend/src/components/CalculatorLayout.js
  frontend/src/components/CalculatorSection.js
  frontend/src/components/ConversionForm.js
  frontend/src/components/ExpressionInput.js
  frontend/src/components/FunctionInput.js
  frontend/src/main.js
  frontend/src/styles/calculator-sections.css
  frontend/src/styles/main.css
  frontend/src/styles/responsive.css
  frontend/src/utils/responsive.js
  frontend/tests/dom-structure.test.js
  frontend/tests/horizontal-scroll.test.js
  frontend/tests/navigation.test.js
  frontend/tests/responsive-layout.test.js
  frontend/tests/touch-targets.test.js
  frontend/tests/visibility.test.js
  history/prompts/001-scientific-units/0009-run-project-demonstration.green.prompt.md
  history/prompts/002-redesign-calculator-ui/0001-create-ui-redesign-spec.spec.prompt.md
  history/prompts/002-redesign-calculator-ui/0002-create-implementation-plan.plan.prompt.md
  specs/002-redesign-calculator-ui/checklists/requirements.md
  specs/002-redesign-calculator-ui/data-model.md
  specs/002-redesign-calculator-ui/plan.md
  specs/002-redesign-calculator-ui/quickstart.md
  specs/002-redesign-calculator-ui/research.md
  specs/002-redesign-calculator-ui/spec.md
  specs/002-redesign-calculator-ui/tasks.md
Due: eslint, prettier, frontend-tests

Fix all calculator action buttons: Convert, Calculate, Evaluate
  frontend/src/components/ConversionForm.js
  frontend/src/components/ExpressionInput.js
  frontend/src/components/FunctionInput.js
  server.py
  src/scientific_calculator/api.py
Due: eslint, prettier, frontend-tests

Initial commit
  LICENSE
  README.md
Due: none

Update README with monetization focus and complete documentation
  README.md
Due: none

Remove monetization content - focus on project details only
  README.md
Due: none

Update support email in README.md
  README.md
Due: none

Add deployment configurations for Vercel and Render
  frontend/vercel.json
  render.yaml
  requirements.txt
  server.py
Due: none

Add deployment documentation and CLI command helper
  .claude/commands/deploy.md
  DEPLOYMENT.md
Due: none

Prepare for Deployment
  .claude/skills/skill-creator/LICENSE.txt
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/references/output-patterns.md
  .claude/skills/skill-creator/references/workflows.md
  .claude/skills/skill-creator/scripts/init_skill.py
  .claude/skills/skill-creator/scripts/package_skill.py
  .claude/skills/skill-creator/scripts/quick_validate.py
  frontend/frontend.log
  history/prompts/002-redesign-calculator-ui/0003-execute-implementation-plan.green.prompt.md
  history/prompts/002-redesign-calculator-ui/0004-clarify-specification-details.spec.prompt.md
  history/prompts/002-redesign-calculator-ui/0005-execute-planning-workflow.plan.prompt.md
  server.log
  specs/002-redesign-calculator-ui/plan.md
  specs/002-redesign-calculator-ui/spec.md
  specs/002-redesign-calculator-ui/tasks.md
Due: none

Fix Vercel deployment: Move vercel.json to root with correct build configuration
  frontend/vercel.json
  vercel.json
Due: none

Update DEPLOYMENT.md with Vercel subdirectory build configuration
  DEPLOYMENT.md
Due: none

Trigger Vercel deployment
  DEPLOYMENT.md
Due: none

Fix Vercel environment variable configuration
  vercel.json
Due: none

Add missing pint dependency to requirements.txt
  requirements.txt
Due: none

Fix API integration: Use Vite environment variables and centralized API service
  frontend/src/components/ConversionForm.js
  frontend/src/components/ExpressionInput.js
  frontend/src/components/FunctionInput.js
  frontend/src/services/calculatorApi.js
  server.log
Due: eslint, prettier, frontend-tests

Fix pint dataclass compatibility issue: upgrade to pint 0.24.3
  requirements.txt
Due: none

Try pint 0.22 for Python 3.13 compatibility
  requirements.txt
Due: none

Fix pint compatibility: Use Python 3.12 instead of 3.13
  requirements.txt
  runtime.txt
Due: none

Fix Render deployment: Use python-3.12 instead of python-3.12.0
  runtime.txt
Due: none

Force Python 3.12 in render.yaml to fix pint compatibility
  render.yaml
Due: none

Simplify render.yaml and add .python-version file
  .python-version
  render.yaml
Due: none

Remove render.yaml to fix Python version issue
  frontend/frontend.log
  render.yaml
  server.log
Due: none

Path conditions:
  eslint: any of: frontend/src/.*\.(js|jsx)$
  prettier: any of: frontend/.*\.(js|jsx|css|html)$
  frontend-tests: any of: frontend/src/.*\.(js|jsx)$
